* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: clamp(40%, 1% + 2vw, 62.5%);
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: #e1e1e6;
  display: grid;
  place-items: center;
  padding: 0rem 1rem;
  background: #14151d;
  overflow: hidden;
}

.container {
  width: 390px;
}

.content {
  display: flex;
  width: 390px;
  padding: 12px 20px;
  flex-direction: column;
  gap: 32px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  padding: 12px 20px;
  gap: 8px;
  width: 168px;
  height: 48px;
  border-radius: 0px 0px 12px 0px;
  background: #2e2c30;
}

.logo {
  width: 20px;
  height: 20px;
}

.logo-container h1 {
  color: #9282fa;
  font-family: "Familjen Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

header .agenda h1 {
  color: #f5f4f5;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

header .agenda p {
  color: #98959d;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}

.content .input-date {
  display: flex;
  width: 190px;
  padding: 12px;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #3e3c41;
}

.content .input-date input {
  border: none;
  color: #98959d;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  background: #14151d;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedule-period {
  display: flex;
  padding: 12px 20px 20px;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  background: #23242c;
  border-radius: 10px;
}

.schedule-period header {
  display: flex;
  padding: 0 0 12px;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid #2e2c30;
}

header strong {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
}

header span {
  color: #98959d;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 95px;
}

.schedule-period ul {
  list-style: none;
  padding: 32px 12px 0;
}

.schedule-period ul li .hour {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 12px;
}

.schedule-period ul li span,
p {
  color: #98959d;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.schedule-period ul li button {
  border: none;
  cursor: pointer;
  color: #666;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: #23242c;
  padding: 7px;
  display: flex;
  width: 100%;
  justify-content: end;
}

.schedule-open-modal {
  display: flex;
  width: 390px;
  margin-top: 40px;
  padding: 18px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #23242c;
  background: #23242c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.schedule-open-modal button {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: #9282fa;
  box-shadow: 0px 0px 40px 0px rgba(146, 130, 250, 0.3);
  cursor: pointer;
  transition: 0.4s;
}

.schedule-open-modal button:hover {
  opacity: 0.8;
}

.schedule-open-modal button span {
  color: #050505;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* Modal - second screen */
.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.fade,
.modal-overlay {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* arruma o posicionamento do modal centralizado na tela */
  z-index: 10;
  border-radius: 12px;
  background: #23242c;
  display: flex;
  width: 350px;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.modal-header {
  margin-bottom: 28px;
}

.modal-header h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
}

.modal-header p {
  color: #98959d;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.modal-header .close-modal {
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 36px;
  height: 36px;
  transition: 0.4s;
}

.modal-header .close-modal:hover {
  opacity: 0.8;
}

fieldset {
  border: none;
}

.input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-bottom: 16px;
}

.input-wrapper label {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.input-wrapper .input {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #3e3c41;
}

.input-wrapper .input input,
select {
  width: 100%;
  color: #98959d;
  background: #23242c;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.input-wrapper #description {
  border-radius: 8px;
  border: 1px solid #3e3c41;
  height: 83px;
  background: #23242c;
  color: #98959d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 12px;
}

.input-wrapper #description::placeholder {
  color: #98959d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.schedule-modal-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 28px;
}

.schedule-modal-button button {
  border: none;
  border-radius: 8px;
  background: #9282fa;
  height: 48px;
  width: 123px;
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.4s;
}

.schedule-modal-button button:hover {
  opacity: 0.8;
}

.schedule-modal-button button span {
  color: #050505;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
  }

  .content {
    width: 871px;
    padding: 0 80px;
    margin: 0 250px;
  }

  header {
    display: flex;
    align-items: center;
  }

  .agenda header h1 {
    width: 100%;
  }

  .agenda {
    margin-right: 40px;
  }

  .schedule-open-modal {
    display: flex;
    width: 100%;
    align-items: flex-end;
    background: none;
    box-shadow: none;
    border: none;
    margin-top: -10px;
    padding: 0 20px;
  }
}
